@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Poppins", sans-serif;
}
.App {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  z-index: 0;
}
.content {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 5px; */
}
.warn {
  font-size: 0.8rem;
}
.starter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.starter h3 {
  text-align: center;
}

@media (max-width: 380px) {
  .starter h3 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.starter button {
  margin-top: 4px;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-bottom: 0.8px solid #ccc;
  color: #2a2a2b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.brand {
  font-size: 1px;
  padding-bottom: 0.5rem;
}
.brand img {
  height: 60px;
  width: 60px;
}
.nav-links ul {
  margin: 0;

  padding: 0;
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a,
.nav-links li button {
  text-decoration: none;
  color: #2a2a2b;
  font-weight: 500;
  display: block;
  padding: 1rem;
  transition: all 300ms ease-out;
}
.nav-links li a:hover {
  color: #0c3294;
  transform: scale(1.1);
}
.nav-links li button {
  border: none;
  background-color: transparent;
}
.nav-links button:hover {
  color: #0c3294;
  transform: scale(1.1);
}
.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .brand img {
    margin-left: 2rem;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li button {
    width: 100%;
  }

  .nav-links li a,
  .nav-links li button {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
  }
}
.questions {
  min-width: 350px;
  width: 40%;
}
.option-list {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-auto-rows: 1fr;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.option-list button {
  /* border: 1px solid black; */
  border-radius: 12px;
  margin: 5px 5px;
}

.controller {
  margin-left: 5px;
  margin-right: 10px;
}

.question-number {
  text-align: center;
  margin-bottom: 20px;
  color: #3d93e3;
}
.home select {
  max-width: 80%;
}
.submit {
  margin-right: 7px;
}
.leaderboard {
  width: 100%;
  height: inherit;
  margin-top: 1rem;
}
.leaderboard-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaderboard-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
}
.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 25px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.content-table thead tr {
  background-color: #6b9ded;
  color: #fff;
  text-align: left;
}

.content-table th {
  font-weight: 500;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #6b9ded;
}

@media (max-width: 620px) {
  .content-table thead {
    display: none;
  }
  .content-table,
  .content-table tbody,
  .content-table tr,
  .content-table td {
    display: block;
    width: 100%;
  }

  .content-table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .content-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 500;
    text-align: left;
  }
}
.paginate {
  margin-bottom: 10px;
}
.paginate button {
  background-color: transparent;
  border: 1px solid rgb(174, 170, 170);
  padding: 3px 8px;
  font-size: 1.5em;
}
.previous {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.next {
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.paginate button:hover {
  background-color: rgb(226, 226, 226);
}
